<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CDMRMS_INSTRUCTOR.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CDMRMS_INSTRUCTOR.My.MySettings>
            <setting name="StaySignedIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InstructorID" serializeAs="String">
                <value />
            </setting>
        </CDMRMS_INSTRUCTOR.My.MySettings>
    </userSettings>
</configuration>